<h2>If you see an image on this page, then Congratulations!  You have completed the lab successfully!</h3>
<img src=http://{{ BUCKET_NAME }}.s3.{{ AWS_REGION }}.amazonaws.com/webimage.png alt="From S3" />
